<div class="loginParent">


    <div class="loginCard">
        <div class="grid">

            <form class="form login">
        
              <div class="form__field">
                <label for="login__username"><i class="material-icons usernameIcon">
                    account_box
                    </i><span class="hidden">Username</span></label>
                <input id="login__username" type="text" name="username" class="form__input" placeholder="Username" required>
              </div>
        
              <div class="form__field">
                <label for="login__password"> <i class="material-icons passwordIcon">
                    https
                    </i><span class="hidden">Password</span></label>
                <input id="login__password" type="password" name="password" class="form__input" placeholder="Password" required>
              </div>
        
              <div class="form__field">
                <input type="submit"  value="Sign In" (click)="onClick()"> 
              </div>
        
            </form>
        
            <p class="text--center">Not a member? <a href="#">Sign up now</a></p>
        
          </div>
        


        </div>

</div>